In [1]:
import pandas as pd

pd.set_option("display.max_columns", None)

from newsapi import NewsApiClient
from tqdm import tqdm

# Initialize tqdm for pandas for progress bars
tqdm.pandas()
newsapi = NewsApiClient(api_key="3936fd40ccbc42dabd167210dc82953a")

In [3]:
df_sources = pd.DataFrame(newsapi.get_sources()['sources'])
df_sources

,id,name,description,url,category,language,country
0,abc-news,ABC News,"Your trusted source for breaking news, analysi...",https://abcnews.go.com,general,en,us
1,abc-news-au,ABC News (AU),"Australia's most trusted source of local, nati...",https://www.abc.net.au/news,general,en,au
2,aftenposten,Aftenposten,Norges ledende nettavis med alltid oppdaterte ...,https://www.aftenposten.no,general,no,no
3,al-jazeera-english,Al Jazeera English,"News, analysis from the Middle East and worldw...",https://www.aljazeera.com,general,en,us
4,ansa,ANSA.it,"Agenzia ANSA: ultime notizie, foto, video e ap...",https://www.ansa.it,general,it,it
...,...,...,...,...,...,...,...
122,wired,Wired,"Wired is a monthly American magazine, publishe...",https://www.wired.com,technology,en,us
123,wired-de,Wired.de,Wired reports on how emerging technologies aff...,https://www.wired.de,technology,de,de
124,wirtschafts-woche,Wirtschafts Woche,Das Online-Portal des führenden Wirtschaftsmag...,http://www.wiwo.de,business,de,de
125,xinhua-net,Xinhua Net,"中国主要重点新闻网站,依托新华社遍布全球的采编网络,记者遍布世界100多个国家和地区,地方频...",http://xinhuanet.com/,general,zh,zh
126,ynet,Ynet,ynet דף הבית: אתר החדשות המוביל בישראל מבית יד...,http://www.ynet.co.il,general,he,is

In [7]:
df_sources['country'].value_counts(normalize=True)

country
us    0.440945
de    0.078740
gb    0.070866
it    0.039370
fr    0.039370
ar    0.031496
ca    0.031496
au    0.031496
br    0.031496
ru    0.031496
sa    0.023622
is    0.023622
in    0.023622
no    0.015748
es    0.015748
ie    0.015748
se    0.015748
zh    0.015748
pk    0.007874
za    0.007874
nl    0.007874
Name: proportion, dtype: float64

In [8]:
df_sources['language'].value_counts(normalize=True)

language
en    0.629921
de    0.078740
es    0.055118
fr    0.039370
it    0.031496
pt    0.031496
ru    0.031496
ar    0.023622
he    0.015748
no    0.015748
zh    0.015748
sv    0.015748
ud    0.007874
nl    0.007874
Name: proportion, dtype: float64

In [10]:
df_sources[df_sources['country'] == 'nl']

,id,name,description,url,category,language,country
95,rtl-nieuws,RTL Nieuws,Volg het nieuws terwijl het gebeurt. RTL Nieuw...,https://www.rtlnieuws.nl/,general,nl,nl

In [ ]:
df = pd.read_csv("../data/conflicts.csv")
df.sample(n=5)

In [ ]:
def get_news_results(query):
    """Function to call the NewsAPI and return total results."""
    try:
        return newsapi.get_everything(q=query)['totalResults']
    except Exception as e:
        print(f"Could not retrieve news for '{query}': {e}")
        return 0

In [ ]:
get_news_results('sudan civil war')

In [ ]:
df['n_newsapi'] = df['search_query'].progress_apply(get_news_results)
df

In [ ]:
df.sort_values(by = ['n_newsapi'], ascending = False)

In [ ]:
df.to_csv("../data/conflicts.csv", encoding='utf-8', index=False)